<!--- seller information -->
{% if vendor_ids %}
<div class="seller-info"> 
  <h2>{{ text_sellerinformation }}</h2>
  <div class="seller-details">
   <div class="row">    
	  <div class="col-sm-12">
		<img class="img-responsive {{ imgeborder }}" src="{{ sellerimage }}" title="{{ dname }}" alt="{{ dname }}">
		{% if vendor_hidevname %}
		<h3> {{ text_seller }}: {{ dname }}</h3>
		{% endif %} 
		<p>{{ text_from }} <i class="fa fa-home"></i> <b>{{ countryname }}</b></p>
		<p>{{ text_totalproducts }}  <b>{{ totalproducts }}</b></p>
		<div class="btn btn-primary contacbtn">
		<a href="{{ href }}"> {{ text_contactseller }}</a> 
	    </div>
	  </div>
	</div>           
 </div>   
</div> 
<style>
.seller-info h2{background:{{ headingbg }}!important;color:{{ textcolor }}!important; }
.seller-info .seller-details .contacbtn{background:{{ headingbg }}!important;}
.seller-info .seller-details .contacbtn a{color:{{ textcolor }}!important;}
.seller-info .seller-details .contacbtn a{color:{{ textcolor }}!important;}
</style>
{% endif %}
<!--- seller information -->
